# Virtual env & dependencies
venv/
__pycache__/
*.pyc
*.pyo

# Credential files
*.json
/commit_msg.py
/deploy.sh

# Ignore Docker build cache
*.log
.DS_Store
.env

# Image files for testing
*.jpg
*.jpeg
*.png

# Model training directory
training/

#stress and load test scripts
*.js
load_test*